<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <service
            android:name=".services.EnglishKeyboardIME"
            android:exported="true"
            android:label="Scribe"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_english" />
        </service>
        <service
            android:name=".services.FrenchKeyboardIME"
            android:exported="true"
            android:label="Scribe"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_french" />
        </service>
        <service
            android:name=".services.GermanKeyboardIME"
            android:exported="true"
            android:label="Scribe"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_german" />
        </service>
        <service
            android:name=".services.PortugueseKeyboardIME"
            android:exported="true"
            android:label="Scribe"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_portuguese" />
        </service>
        <service
            android:name=".services.RussianKeyboardIME"
            android:exported="true"
            android:label="Scribe"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_russian" />
        </service>
        <service
            android:name=".services.SpanishKeyboardIME"
            android:exported="true"
            android:label="Scribe"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_spanish" />
        </service>
        <service
            android:name=".services.SwedishKeyboardIME"
            android:exported="true"
            android:label="Scribe"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_swedish" />
        </service>
        <service
            android:name=".services.ItalianKeyboardIME"
            android:exported="true"
            android:label="Scribe"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.intent.action.INPUT_METHOD" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method_italian" />
        </service>
    </application>

</manifest>
