name: pr_unit_test
on:
    pull_request:
        branches:
            - main
        types: [opened, reopened, synchronize]

jobs:
    ktlint:
        runs-on: ubuntu-latest
        name: Run unit tests

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup JDK environment
              uses: actions/setup-java@v4
              with:
                  distribution: "zulu"
                  java-version: 17

            - name: Setup Gradle
              uses: gradle/actions/setup-gradle@v4

            - name: Run tests
              run: ./gradlew test
